<div class="container">
    <nav class="navbar">
      <!-- logo -->
      <div class="navbar__logo">
        <a href="index.html">
          <img src="../img/logo.png" alt="website logo">
        </a>
      </div>
      <!-- links -->
      <ul class="navbar__links">
        <li class="navbar__link"><a href="#works-ACCA">ACCA</a></li>
        <li class="navbar__link"><a href="#works-CFA">CFA</a></li>
        <li class="navbar__link"><a href="#works-VBA">VBA</a></li>
        <li class="navbar__link"><a href="#works-PYTHON">PYTHON</a></li>
        <li class="navbar__link"><a href="#works-SQL">SQL</a></li>
        <li class="navbar__link"><a href="#works-JAVASCRIPT">JAVASCRIPT</a></li>

        <a href="#footer"><button class="navbar__btn">Contact</button></a>
      </ul>
      <!-- menu button -->
      <div class="navbar__icons">
        <div class="navbar__icon"></div>
      </div>
    </nav>
  </div>